<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link d-flex">
                <div class="profile-image">
                    <img src="~/Content/images/faces/face28.png" alt="image">
                </div>
                <div class="profile-name">
                    <p class="name">
                        Edwin Harring
                    </p>
                    <p class="designation">
                        Manager
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../index.html">
                <i class="mdi mdi-shield-check menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="deductor.html">
                <i class="mdi mdi-puzzle menu-icon"></i>
                <span class="menu-title">Deductor</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contractor.html">
                <i class="mdi mdi-puzzle menu-icon"></i>
                <span class="menu-title">Contractor</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="transaction.html">
                <i class="mdi mdi-puzzle menu-icon"></i>
                <span class="menu-title">Trasnsaction</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Search.html">
                <i class="mdi mdi-puzzle menu-icon"></i>
                <span class="menu-title">Search</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="settings.html">
                <i class="mdi mdi-puzzle menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
    </ul>
</nav>